{% extends "layout/base_home.html" %}

{% block title %}Личный кабинет{% endblock %}


{% block main %}
<div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
    <div class="home_background_image">
        <div class="home_base_block">
            <h1 class="home_base_title">
                <span class="home_base_title_text">Добро пожаловать</span>
                <span class="home_base_title_text">в ваш личный кабинет</span>
            </h1>
        </div>
    </div>
</div>
{% endblock %}